/* ClashGrotesk */
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk/ClashGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk/ClashGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ClashGrotesk';
  src: url('../fonts/ClashGrotesk/ClashGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}